
<div class="text-center">
    {% if content.frontMatterHas('cover_image') %}
        <a href="{{ site_root() }}{{ content.getLink() }}" title="Visit this user's profile: {{ content.frontMatterGet('title') }}">
            <img class="mx-auto rounded-full {% if full %}md:max-w-5xl{% else %}w-full{% endif %}" src="{{ content.frontMatterGet('cover_image')|raw }}" alt="cover image">
        </a>
    {% endif %}

    <h1 class="text-3xl lg:text-4xl my-4 text-gray-600 hover:text-blue-800 header">
        <a href="{{ site_root() }}{{ content.getLink() }}" title="Read the full article: {{ content.frontMatterGet('title') }}">
            {{ content.frontMatterGet('title') ?? content.title }}</a></h1>
    {% if content.frontMatterHas('user') %}<p class="text-xl text-gray-700 my-4 pb-6"><i class="fab fa-github"></i> <a href="https://github.com/sponsors/{{ content.frontMatterGet('user') }}" class="underline">{{  content.frontMatterGet('user') }}</a></p>{% endif %}
</div>
<article class="prose xl:prose-xl max-w-none mb-6">
        {% if full %}
            {{ content.body_html|raw }}
        {% else %}
            {{ content.frontMatterGet('description') ?? 'No description provided.' }}
            <p class="mt-6"><a href="{{ site_root() }}{{ content.getLink() }}">Read More...</a></p>
        {% endif %}
    </article>

    {% if content.frontMatterHas('tags') and content.frontMatterGet('tags')  %}
        <div class="pb-6">
            <p class="text-md my-4 mb-6"><i class="fas fas-lg fa-tags"></i>
                {% for tag in content.getAsArray('tags') %}
                    <span class="rounded-full bg-gray-200 px-3 py-2 hover:bg-gray-400"><a href="{{ site_root() }}tag/{{ tag }}">{{ tag }}</a></span>
                {% endfor %}
            </p>
        </div>
    {% endif %}